{% assign direction = Model.ContentItem.Content %}


{% if Model.ContentItem.Content.SubDirections.ContentItems.size > 0 %}
        
    {% if Model.Title == null %}
        <li class="job-item">
            <a href="#" class="job-btn d-flex" data-toggle="modal" data-target="#{{ Model.ContentItem | slugify }}">
                <span class="job-icon {{ direction.Direction.Icon.Text }}"></span>
                <span class="job-title">{{ direction.TitlePart.Title }}</span>
            </a>
        </li>
    {% endif %}
    
    {% for direction in dirs  %}
        {{ direction | shape_build_display: "Detail" | shape_properties: title: 'test' | shape_render }}
    {% endfor %}
    
    <div class="modal fade" id="{{ Model.ContentItem | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title"> Тестирование<span style="margin-top: 10px"><br>по
                        направлению: Разработчик</span>
                    </div>
                    <form class="padv-40">
                        <div class="row">
                        
                            {% for direction in Model.ContentItem.Content.SubDirections.ContentItems limit: 2 %}
                                <div class="col"><a class="btn btn-block"
                                                    id="appButton{{ direction.TitlePart.Title | slugify }}"
                                                    data-toggle="modal"
                                                    
                                                    href="#">{{ direction.TitlePart.Title }}</a></div>

                                {% scriptblock at: "Foot" %}
                                $(document).on("click", "#appButton{{ direction.TitlePart.Title | slugify }}", function () {
                                $("#{{ Model.ContentItem | slugify }}").modal("hide");
                                
                                setTimeout(() => {
                                    $("#{{ direction.TitlePart.Title | raw | slugify }}").modal();
                                },500)
                                
                                });
                                {% endscriptblock %}
                            {% endfor %}
                            <div class="col-sm-auto">
                                <div class="or" style="color: #8f8f90;">или</div>
                            </div>
                            {% for direction in Model.ContentItem.Content.SubDirections.ContentItems offset: 2 %}
                                <div class="col"><a class="btn btn-block"
                                                    id="appButton{{ direction.TitlePart.Title | slugify }}"
                                                    data-toggle="modal"
                                                    data-target="#{{ direction.TitlePart.Title | raw | slugify }}"
                                                    href="#">{{ direction.TitlePart.Title }}</a></div>

                                {% scriptblock at: "Foot" %}
                                $(document).on("click", "#appButton{{ direction.TitlePart.Title | slugify }}", function () {
                                $("#{{ Model.ContentItem | slugify }}").modal("hide");
                                setTimeout(() => {document.body.classList.add('modal-open')},15)
                                });
                                {% endscriptblock %}


                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% if Model.Title == null %}
        <li class="job-item">
            <a href="#" class="job-btn d-flex" data-toggle="modal" data-target="#{{ Model.ContentItem | slugify }}">
                <span class="job-icon {{ direction.Direction.Icon.Text }}"></span>
                <span class="job-title">{{ direction.TitlePart.Title }}</span>
            </a>
        </li>
    {% endif %}
    <div class="modal fade" id="{{ Model.ContentItem | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <div class="modal-title">{{ direction.TitlePart.Title }} </div>

                    <form>
                        
                       {% for question in direction.Questions.ContentItems  %}
                       {% assign counter = forloop.index   %}
                       {% if forloop.first == true %}
                            <div class="question active">
                        {% else %}
                        <div class="question">
                           {% endif %}
                            
                            <div class="question-title">  {{counter}}.  {{question.Question.Question.Html | raw}}</div>
                            <div class="question-text">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="answers">
                                  
                                         {% for answer in question.BagPart.ContentItems  %}
                                 
                                        <div class="form-check form-check">
                                            <input class="form-check-input" type="radio" name="q{{counter }}-answer"
                                                   id="q{{counter }}-answer{{forloop.index }}"
                                                   value="{{ answer.Answer.Answer.Html | raw }}"
                                                   >
                                            <label class="form-check-label" for="q{{counter  }}-answer{{forloop.index }}"> <pre> <code> {{ answer.Answer.Answer.Html | raw }} </code> </pre> </label>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                        <div class="col-auto">
                                             <button class="btn btn-prev" >Назад</a>      
                                             {% if forloop.last == true %}
                                                <button class="btn btn-finish" type="submit">Завершить</a> 
                                             {% else %}
                                                <button class="btn btn-next" >Далее</a>        
                                             {% endif %}
                                        </div>
                                </div>
                            </div>
                       
                       {% endfor %}
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% scriptblock at: "Foot" %}
    generateQuizClickHandler("#{{ Model.ContentItem | slugify | raw }}")
    {% endscriptblock %}
{% endif %}




