{% assign direction = Model.ContentItem.Content %}


{% if Model.ContentItem.Content.SubDirections.ContentItems.size > 0 %}
    {% if Model.Title == null %}
        <li class="job-item">
            <a href="#" class="job-btn d-flex" data-toggle="modal" data-target="#{{ Model.ContentItem | slugify }}">
                <span class="job-icon {{ direction.Direction.Icon.Text }}"></span>
                <span class="job-title">{{ direction.TitlePart.Title }}</span>
            </a>
        </li>
    {% endif %}
    {% for direction in Model.ContentItem.Content.SubDirections.ContentItems  %}
        {{ direction | shape_build_display: "Detail" | shape_properties: title: 'test' | shape_render }}
    {% endfor %}
    <div class="modal fade" id="{{ Model.ContentItem | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title"> Тестирование<span style="margin-top: 10px"><br>по
                        направлению: Разработчик</span>
                    </div>
                    <form class="padv-40">
                        <div class="row">
                            {% for direction in Model.ContentItem.Content.SubDirections.ContentItems limit: 2 %}
                                <div class="col"><a class="btn btn-block"
                                                    id="appButton{{ direction.TitlePart.Title | slugify }}"
                                                    data-toggle="modal"
                                                    data-target="#{{ direction.TitlePart.Title | raw | slugify }}"
                                                    href="#">{{ direction.TitlePart.Title }}</a></div>

                                {% scriptblock at: "Foot" %}
                                $(document).on("click", "#appButton{{ direction.TitlePart.Title | slugify }}", function () {
                                $("#{{ Model.ContentItem | slugify }}").modal("hide");
                                });
                                {% endscriptblock %}
                            {% endfor %}
                            <div class="col-sm-auto">
                                <div class="or" style="color: #8f8f90;">или</div>
                            </div>
                            {% for direction in Model.ContentItem.Content.SubDirections.ContentItems offset: 2 %}
                                <div class="col"><a class="btn btn-block"
                                                    id="appButton{{ direction.TitlePart.Title | slugify }}"
                                                    data-toggle="modal"
                                                    data-target="#{{ direction.TitlePart.Title | raw | slugify }}"
                                                    href="#">{{ direction.TitlePart.Title }}</a></div>

                                {% scriptblock at: "Foot" %}
                                $(document).on("click", "#appButton{{ direction.TitlePart.Title | slugify }}", function () {
                                $("#{{ Model.ContentItem | slugify }}").modal("hide");
                                });
                                {% endscriptblock %}


                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% if Model.Title == null %}
        <li class="job-item">
            <a href="#" class="job-btn d-flex" data-toggle="modal" data-target="#{{ Model.ContentItem | slugify }}">
                <span class="job-icon {{ direction.Direction.Icon.Text }}"></span>
                <span class="job-title">{{ direction.TitlePart.Title }}</span>
            </a>
        </li>
    {% endif %}
    <div class="modal fade" id="{{ Model.ContentItem | slugify }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Вакансия<span>тестирование</span></div>
                    <p class="marked"><span>программист на</span><br><span>Python</span></p>

                    <form>
                        <div class="question active">
                            <div class="question-title">1. Что выведет следующий код?</div>
                            <div class="question-text">d = lambda p: p * 2<br>t = lambda p: p * 3<br>x = 2<br>x =
                                d(x)<br>x
                                =
                                t(x)<br>x = d(x)<br>print(x)
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="answers">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="q1-answer"
                                                   id="q1-answer1"
                                                   value="24"
                                                   checked>
                                            <label class="form-check-label" for="q1-answer1">24</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="q1-answer"
                                                   id="q1-answer2"
                                                   value="48">
                                            <label class="form-check-label" for="q1-answer2">48</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="q1-answer"
                                                   id="q1-answer3"
                                                   value="36">
                                            <label class="form-check-label" for="q1-answer3">36</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="q1-answer"
                                                   id="q1-answer4"
                                                   value="7">
                                            <label class="form-check-label" for="q1-answer4">7</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="btn btn-next" href="#">Далее</a></div>
                            </div>
                        </div>
                        <div class="question">
                            <div class="question-title">2. Что выведет следующий код?</div>
                            <div class="question-text">d = lambda p: p * 2<br>t = lambda p: p * 3</div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2-answer" id="q2-answer1"
                                               value="24" checked>
                                        <label class="form-check-label" for="q2-answer1">24</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2-answer" id="q2-answer2"
                                               value="48">
                                        <label class="form-check-label" for="q2-answer2">48</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2-answer" id="q2-answer3"
                                               value="36">
                                        <label class="form-check-label" for="q2-answer3">36</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2-answer" id="q2-answer4"
                                               value="7">
                                        <label class="form-check-label" for="q2-answer4">7</label>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="btn btn-prev" href="#">Назад</a><a class="btn btn-next"
                                                                                                   href="#">Далее</a>
                                </div>
                            </div>
                        </div>
                        <div class="question">
                            <div class="question-title">3. Что выведет следующий код?</div>
                            <div class="question-text">d = lambda p: p * 2</div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q3-answer" id="q3-answer1"
                                               value="24" checked>
                                        <label class="form-check-label" for="q3-answer1">24</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q3-answer" id="q3-answer2"
                                               value="48">
                                        <label class="form-check-label" for="q3-answer2">48</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q3-answer" id="q3-answer3"
                                               value="36">
                                        <label class="form-check-label" for="q3-answer3">36</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q3-answer" id="q3-answer4"
                                               value="7">
                                        <label class="form-check-label" for="q3-answer4">7</label>
                                    </div>
                                </div>
                                <div class="col-auto"><a class="btn btn-prev" href="#">Назад</a>
                                    <button class="btn btn-finish" type="submit">Завершить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% scriptblock at: "Foot" %}
    generateQuizClickHandler("#{{ Model.ContentItem | slugify | raw }}")
    {% endscriptblock %}
{% endif %}




